/* Import Lexend Deca font with a weight of 400 */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400');

/* Import Big Shoulders Display font with a weight of 700 */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700');


body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Big Shoulders Display', sans-serif;
    /* padding-top: 100px;
    padding-bottom: 100px; */
}

.container{
    display: flex;
    margin-bottom: 50px;

}

.card{
    flex: 1;
    height: 21rem;
    padding: 80px 40px;
    background-color: rgba(236, 55, 19, 0.821);
    color: white;
}

.card.sedan{
    border-radius: 10px 0px 0px 10px;
    background-color: hsl(31, 77%, 52%);
}
.card.sedan button{
    color: hsl(31, 77%, 52%);
}
.card.sedan button:hover{
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: solid 2px white;
}
.card.suv{
    background-color: hsl(184, 100%, 22%);
}
.card.suv button{
    color: hsl(184, 100%, 22%);
}
.card.suv button:hover{
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: solid 2px white;
}
.card.luxury{
    border-radius: 0px 10px 10px 0px;
    background-color: hsl(179, 100%, 13%);
}
.card.luxury button{
    color: hsl(179, 100%, 13%);
}
.card.luxury button:hover{
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: solid 2px white;
}
h2{
    font-size: 2.5rem;
    font-weight: 700;
}

p{
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
    margin-bottom: 5rem;
    font-weight: 400;
    max-width: 250px;
}

button{

background-color: white;
border-style: none;
padding: 15px 35px;
border-radius: 50px;
font-family: 'Lexend Deca';
color: white;

}


@media (max-width:840px){

    body{
        justify-content: normal;
    }
    .container{
        flex-direction: column;
        margin: 12px;
    }
    
    .card{
        padding: 33px 27px;
       
    }
    .card.sedan{
        border-radius: 10px 10px 0px 0px;
    }
    .card.luxury{
        border-radius: 0px 0px 10px 10px;
    }
}